{% extends 'back.html.twig' %}

{% block title %}Edit Matchjoueur{% endblock %}

{% block body %}
    <h1>Edit Matchjoueur</h1>

    {{ include('matchjoueur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_matchjoueur_index') }}">back to list</a>

    {{ include('matchjoueur/_delete_form.html.twig') }}
{% endblock %}
