{% extends 'front.html.twig' %}

{% block title %} Matchs {% endblock %}

{% block body %}
<div class="section subbanner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="caption">Matchs</div>
            </div>
        </div>
    </div>
</div>
<div class="section about">
    <div class="container ">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">Billet</h2>
                    <div class="border-style"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">

            <div class="row">
                <div class="container-match-billet col-sm-12 col-md-4">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-date">
                                12 Aug at <strong>19:00</strong>
                            </div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/whufc.svg"/>
                                    </div>
                                    <h2 class="team-name">West Ham</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <button class="match-bet-place">obtenir un billet</button>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/chelsea.svg"/>
                                    </div>
                                    <h2 class="team-name">Chelsea</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-match-billet col-sm-12 col-md-4">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-date">
                                12 Aug at <strong>19:00</strong>
                            </div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/whufc.svg"/>
                                    </div>
                                    <h2 class="team-name">West Ham</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <button class="match-bet-place">obtenir un billet</button>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/chelsea.svg"/>
                                    </div>
                                    <h2 class="team-name">Chelsea</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-match-billet col-sm-12 col-md-4">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-date">
                                12 Aug at <strong>19:00</strong>
                            </div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/whufc.svg"/>
                                    </div>
                                    <h2 class="team-name">West Ham</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <button class="match-bet-place">obtenir un billet</button>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/chelsea.svg"/>
                                    </div>
                                    <h2 class="team-name">Chelsea</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-match-billet col-sm-12 col-md-4">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-date">
                                12 Aug at <strong>19:00</strong>
                            </div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/whufc.svg"/>
                                    </div>
                                    <h2 class="team-name">West Ham</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <button class="match-bet-place">obtenir un billet</button>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="https://assets.codepen.io/285131/chelsea.svg"/>
                                    </div>
                                    <h2 class="team-name">Chelsea</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12" style="display: flex;
    justify-content: center;">

                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>

                </div>

            </div>
        </div>

        {% endblock %}
