{% extends 'back.html.twig' %}

{% block title %}New Billet{% endblock %}

{% block body %}
    <h1 style="display: none">Create new Matchs</h1>

    {{ include('billet/_form.html.twig') }}

    {#    <a href="{{ path('app_billet_index') }}">back to list</a> #}
{% endblock %}
